@font-face {
  font-family:'font-1' ;
  src: url('./Modern\ Prestige\ DEMO.otf');
}

.menu {
  border-bottom: solid silver;
  overflow: hidden;
}

.menu-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu-items li {
  font-family: font-1;
  float: left;
}

.menu-items li a {
  display: block;
  color: rgb(77, 34, 34);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu-items li a:hover {
  color: blue;
}

header nav{
  text-align: right;
}

.conteiner a img:hover{
  border: solid rgba(32, 124, 74, 0.61);
  background-color: rgb(102, 71, 33);
}

.menu .icon {
  display: none;
}


#comprar {
  display: flex;
  justify-content: center;
  align-items: center;
}

#comprar img {
  margin: 0 10px;
}

#explicação{
  font-family: font-1;
}


@media screen and (max-width: 600px) {
  .menu {
    flex-direction: column;
  }
  .menu-items {
    display: none;
  }
  .menu-items.responsive {
    display: block;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
    width: 100%;
  }
  .menu-items.responsive li {
    float: none;
  }
  .menu-items.responsive li a {
    display: block;
    text-align: left;
  }
  .menu .icon {
    display: block;
  }
}
