@font-face {
    font-family: 'festiva';
    src: url('./PartyDayDemoRegular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'texto';
    src: url('./Modern\ Prestige\ DEMO.otf') format('opentype');
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

  }

  header{
    border-bottom: solid silver;
  }

  header nav {
    text-align: right;
  }


  main{
    border: solid silver;
    width: 50%;
    height: 40%;
    width: auto;

    position: relative;
    left: 9%;
    
  }

  #img1{

    position: absolute;
    left: 50%;
  }

  #img2{
  
    position: absolute;
    left: 50%;
    top: 32%;
  }

  #img3{

    position: absolute;
    left: 50%;
    top: 66%;
  }

  @media (min-width: 768px) {
    main {
      width: 75%;
    }
  }
  
  @media (max-width: 767px) {
    main {
      width: 90%;
    }
  }
  
  @media (min-width: 768px) {
    body {
      font-size: 16px;
    }
  }
  
  @media (max-width: 767px) {
    body {
      font-size: 14px;
    }
  }
  