@font-face {
    font-family: 'festiva';
    src: url('./PartyDayDemoRegular.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'texto';
    src: url('./Modern\ Prestige\ DEMO.otf') format('opentype');
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

  }


  main{
    border: solid silver;
    width: 50%;
    height: 40%;
    width: auto;
    
  }

  #img1{
    position: absolute;
    left: 50%;
  }

  #img2{
    position: absolute;
    left: 50%;
    bottom: 20%;
  }

  #img3{
    position: absolute;
    left: 50%;
    bottom: -12%;
  }